/* Footer.css */
.footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-around;
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    cursor: pointer;
    padding: 10px;
  }
  
  .nav-item span {
    margin-top: 5px;
    font-size: 12px;
  }
  